.weather-card-title {
    font-size: 24px !important;
}

.weather-card-temp {
    font-size: 24px !important;
}

.weather-card-body1 {
    font-size: 16px !important;
}

.weather-short-description {
    font-size: 14px !important;
}

.weather-icon {
    height: 36px;
    width: 36px;
}
